<div class="all-contain position-relative w-100" style="overflow: auto; min-height: 100vh;">
  <div class="bg-container bg-img">
  </div>
  <app-header></app-header>


  <div class="container">

    <div class="row">
      <div class="col">


        <div class="">
          <div class="d-flex">
            <svg class="img1 mt-2" xmlns="http://www.w3.org/2000/svg" width="147" height="147" viewBox="0 0 147 147"
              fill="none">
              <path
                d="M81.5461 75.4488C164.06 150.346 109.508 186.614 72.3752 81.546C-2.5222 164.06 -38.7896 109.508 66.278 72.375C-16.2354 -2.52235 38.3158 -38.7898 75.449 66.2779C150.346 -16.2356 186.614 38.3156 81.5461 75.4488Z"
                fill="#1A1A1A" />
            </svg>
            <span class="title1">فروشگاه اینترنتی </span>
          </div>
          <span class="d-flex justify-content-center title2">پوشاک و لباس مردانه بحرینی </span>
          <span class="d-flex justify-content-center my-5">با بیش از ۲۰ سال سابقه ی فعالیت در حوزه ی پوشاک تخصصی آقایان</span>
        </div>
        <div class="d-flex justify-content-center">
          <button class="get-started ms-3 my-4">فروش ویژه</button>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <img src="/Coat/1.png" style="width: 10%;">
          <img src="/Coat/2.png" style="width: 10%;">
          <img src="/Coat/3.png" style="width: 10%;">
          <img src="/Coat/4.png" style="width: 10%;">
        </div>
      </div>
    </div>


    <div class="row stats-section">
      <div class="col-md-3 col-6 mb-4">
        <div class="stat-card">
          <i class="fas fa-box stat-icon"></i>
          <div class="stat-number">500+</div>
          <div class="stat-label">محصولات</div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="stat-card">
          <i class="fas fa-star stat-icon"></i>
          <div class="stat-number">4.8</div>
          <div class="stat-label">امتیاز مشتریان</div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="stat-card">
          <i class="fas fa-users stat-icon"></i>
          <div class="stat-number">10K+</div>
          <div class="stat-label">مشتریان راضی</div>
        </div>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <div class="stat-card">
          <i class="fas fa-truck stat-icon"></i>
          <div class="stat-number">24h</div>
          <div class="stat-label">ارسال سریع</div>
        </div>
      </div>
    </div>

    <div class="row m-3">
      <div class="col d-flex justify-content-center">
        <div class="card">
          <div class="text1 d-flex justify-content-between">
            <span class="text2 m-3">محصولات جدید</span>
          </div>

          <div class="row">
            <div class="col-4 ">
              <div class="card1 h-100 d-flex flex-column">
                <img class="p-lg-3 p-0 w-100" src="/Vintage/6.png">
                <span class="fs-3 ms-3">سویشرت مردانه کلاسیک</span>
                <span class="ms-3 mb-3">پیراهن مردانه با کیفیت بالا و پارچه نخی مرغوب - مناسب برای مراسمات رسمی و اداری. طراحی شیک و کلاسیک برای استایل‌های حرفه‌ای.</span>
              </div>
            </div>
            <div class="col-4 ">
              <div class="card1 h-100 d-flex flex-column">
                <img class="p-lg-5 p-0 w-100" src="/Vintage/4.png">
                <span class="fs-3 ms-3">کاپشن چرم مردانه</span>
                <span class="ms-3 mb-3">کاپشن چرم اصل با دوخت دقیق - مناسب برای فصل پاییز و زمستان. طراحی مدرن و با کیفیت برای حفظ گرمای بدن در روزهای سرد.</span>
              </div>
            </div>
            <div class="col-4 ">
              <div class="card1 h-100 d-flex flex-column">
                <img class="p-lg-5 p-0 w-100" src="/Vintage/5.png">
                <span class="fs-3 ms-3">کت چرم مجلسی</span>
                <span class="ms-3 mb-3">کفش چرم طبیعی دست‌دوز - ایده‌آل برای استایل رسمی و مجالس. راحتی و دوام بالا با طراحی کلاسیک و زیبا.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row features-section">
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <i class="fas fa-credit-card feature-icon"></i>
          <h4 class="feature-title">پرداخت امن</h4>
          <p class="feature-desc">پرداخت آنلاین با بالاترین سطح امنیت و تضمین خرید</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <i class="fas fa-shield-alt feature-icon"></i>
          <h4 class="feature-title">ضمانت کیفیت</h4>
          <p class="feature-desc">تمام محصولات با ضمانت اصالت و کیفیت ارائه می‌شوند</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="feature-card">
          <i class="fas fa-undo feature-icon"></i>
          <h4 class="feature-title">بازگشت آسان</h4>
          <p class="feature-desc">امکان بازگشت محصول تا 7 روز پس از تحویل</p>
        </div>
      </div>
    </div>



  </div>

  <app-footer></app-footer>
</div>