<div class="position-relative w-100" style="overflow: auto; min-height: 100vh;">
  <div class="bg-container bg-img">
  </div>

  <div class="container">
    <app-header></app-header>



    <!-- profile -->
    <div class="card d-flex flex-row justify-content-between align-items-center p-5 my-5">
      <h5 class="mb-0"> خوش آمدید {{ username }}</h5>
      <div class="d-flex align-items-center">

        <div class="mx-4 text-center">
          <div class="fw-bold">{{ userStats.postCount }}</div>
          <div>تعداد پست های بارگذاری شده</div>
        </div>
      </div>
      <!-- logout -->
      <button (click)="logout()" class="logout-btn">خروج</button>
    </div>


    <!-- Services header -->
    <div class="col-12">
      <div class="card text-center tm-services-header my-5 py-5">
        <h2 class="p-4">بارگذاری محصول جدید</h2>
        <p class="mb-0 small">
          برای افزودن پست جدید لطفا تمامی فیلد ها رو بارگذاری کنید
        </p>

        <!-- Reactive Form -->
        <form [formGroup]="postForm" (ngSubmit)="addPost()" class="row p-4 gap-5">
          <!-- instrument -->
          <div class="form-group">
            <input type="text" class="form-control rounded-0" placeholder="اسم محصول" formControlName="instrument"
              [ngClass]="{'is-invalid': instrumentControl.invalid && instrumentControl.touched}">

            <div *ngIf="instrumentControl.invalid && instrumentControl.touched" class="invalid-feedback">
              <div *ngIf="instrumentControl.hasError('required')">
                نام محصول الزامی است
              </div>
              <div *ngIf="instrumentControl.hasError('minlength')">
                نام محصول باید حداقل ۲ کاراکتر باشد
              </div>
            </div>
          </div>

          <!-- description -->
          <div class="form-group">
            <textarea class="form-control rounded-0" placeholder="توضیحات" formControlName="description" rows="3"
              [ngClass]="{'is-invalid': descriptionControl.invalid && descriptionControl.touched}"></textarea>

            <div *ngIf="descriptionControl.invalid && descriptionControl.touched" class="invalid-feedback">
              <div *ngIf="descriptionControl.hasError('required')">
                توضیحات الزامی است
              </div>
              <div *ngIf="descriptionControl.hasError('minlength')">
                توضیحات محصول باید حداقل ۱۰ کاراکتر باشد
              </div>
            </div>
          </div>

          <!-- year -->
          <div class="form-group">
            <input type="number" class="form-control rounded-0" placeholder="قیمت" formControlName="year"
              [ngClass]="{'is-invalid': yearControl.invalid && yearControl.touched}">

            <div *ngIf="yearControl.invalid && yearControl.touched" class="invalid-feedback">
              <div *ngIf="yearControl.hasError('required')">
                بارگذاری قیمت الزامی است
              </div>
              <div *ngIf="yearControl.hasError('min')">
                قیمت نمیتواند منفی باشد
              </div>
              <div *ngIf="yearControl.hasError('max')">
                Years cannot be more than 100
              </div>
            </div>
          </div>

          <!-- upload file -->
          <p-fileupload name="file" mode="advanced" customUpload="true" (uploadHandler)="onUpload($event)" accept="image/*"
            maxFileSize="2000000">
            <ng-template #empty>
              <div>برای آپلود، فایل‌ها را بکشید و اینجا رها کنید.</div>
            </ng-template>
          </p-fileupload>






          <div class="d-flex align-items-center justify-content-center">
            <button type="submit" class="btn mt-3 rounded-0 w-50">
              اضافه کردن
            </button>
          </div>
        </form>
      </div>
    </div>





  </div>

</div>