.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.container {
  font-family: 'Amiri', serif;
}

.map-container {
  height: 300px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(to right, rgb(120, 112, 83), rgb(109, 102, 77));
}

.logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #d32f2f;
  }
}

.tm-brand-container {
  max-width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-brand-name {
  font-size: 2.3rem;
  color: #333333;
}

.tm-bg-black {
  background-color: rgba(15, 29, 32, 0.76);
  color: white;
}

/* Form styles */
.tm-services-header {
  position: relative;
  z-index: 102;
  width: 100%;
}

.form-control {
  border-top: 0;
  background-color: transparent;
  color: rgb(255, 255, 255) !important;
  padding: 25px 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.form-control:hover::placeholder {
  color: rgb(0, 0, 0) !important;
}

.form-control:hover {
  color: black !important;
  background-color: #fff !important;
}

.form-control:focus {
  color: black !important;
  background-color: #fff !important;
}

.btn {
  border-radius: 0;
  padding: 13px 40px;
  font-size: 1.3rem;
  background-color: white;
  border: 0;
  color: #3E3F40;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #3a393a;
  color: whitesmoke;
  outline: none;
}

.card {
  padding: 30px;
  border-radius: 20px;
  background: #E9E9E9;
  border: none;
}