.img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.tm-bg-white {
  background-color: rgb(255, 255, 255);
}

.tm-brand-container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-brand-texts {
  display: flex;
 }


.tm-brand-name {
  font-size: 2.3rem;
  color: #333333;
}

.tm-navbar {
  min-height: 120px;
  justify-content: none;
}

.tm-navbar .navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tm-nav {
  margin-left: 10%;
}

.nav-item {
  position: relative;
}

.nav-link {
  font-size: 1.2rem;
}


.nav-item .tm-nav-link-highlight {
  visibility: hidden;
}

.nav-item:hover .tm-nav-link-highlight,
.nav-item.active .tm-nav-link-highlight {
  visibility: visible;
}

.nav-item .nav-link {
  border-top: 1px solid transparent;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  border-top-color: #666768;
}

.tm-nav-link-highlight {
  width: 16px;
  height: 16px;
  background-color: #666768;
  position: absolute;
  top: -8px;
  left: calc(50% - 8px);
}